a.btn-default {
  display: inline-block !important;
  background: rgba(0, 0, 0, 0) !important;
  color: #ffffff !important;
  border: 3px solid #ffffff !important;
  border-radius: 100px !important;
  min-width: 200px !important;
  max-width: 100% !important;
  font-size: 12px !important;
  line-height: 2 !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 1em !important;
  transition: all 0.2s !important;
}
a.btn-default:visited {
  background: rgba(0, 0, 0, 0) !important;
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  text-decoration: none !important;
}
a.btn-default:active {
  background: #ffffff !important;
  color: #232323 !important;
  border: 2px solid rgba(255, 255, 255, 0.95) !important;
  text-decoration: none !important;
}
a.btn-default:hover {
  background: #ffffff !important;
  color: #232323 !important;
  border: 3px solid rgba(255, 255, 255, 0.95) !important;
  text-decoration: none !important;
  opacity: 1 !important;
}


