a.btn-primary {
  display: inline-block !important;
  background: #232323 !important;
  color: #ffffff !important;
  border: 3px solid #232323 !important;
  border-radius: 100px !important;
  min-width: 200px !important;
  max-width: 100% !important;
  font-size: 12px !important;
  line-height: 2 !important;
  text-align: center !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 1em !important;
  transition: all 0.2s !important;
}
a.btn-primary:visited {
  background: #232323 !important;
  color: #ffffff !important;
  border: 2px solid #232323 !important;
  text-decoration: none !important;
}
a.btn-primary:active {
  background: rgba(35, 35, 35, 0.9) !important;
  color: #ffffff !important;
  border: 2px solid #232323 !important;
  text-decoration: none !important;
}
a.btn-primary:hover {
  background: rgba(35, 35, 35, 0.9) !important;
  color: #ffffff !important;
  border: 3px solid #232323 !important;
  text-decoration: none !important;
  opacity: 1 !important;
}


